body {
  background-image: url(./images/bg.jpg) !important;
  font-family: sans-serif;
    z-index: 1;
}

p {
  margin: 0 0 5px;
}

.main {
    margin-top: 20px;
}


.pageTask {
    border-spacing: 0 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin: 100px auto 30px;
    padding: 10px;
    position: relative; /* For the submit button positioning */
}

.pageTask th {
    padding: 10px 20px;
    background: #56433D;
    color: #F9C941;
    border-right: 2px solid;
    font-size: 0.9em;
}

.pageTask th:first-child {
    text-align: left;
}

.pageTask th:last-child {
    border-right: none;
}

.pageTask td {
    vertical-align: middle;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    border-top: 2px solid #56433D;
    border-bottom: 2px solid #56433D;
    border-right: 2px solid #56433D;
}
.pageTask td:first-child {
    border-left: 2px solid #56433D;
    border-right: none;
}
.pageTask td:nth-child(2){
    text-align: left;
}

.task_name {
    margin: 20px;
    text-align: center;
    font-family: Calibri, Arial, sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #4A3530;
}

.allPage {
  width: 100%;
  margin-left: 30px;
}

.return {
    width: 100%;
    height: 40px;
    border: 1px solid #ffffff;
    border-radius: 10px 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #4dc1dc;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.return a {
    color: #ffffff;
}

.nn {
  opacity: 0.6;
}

.none {
  display: none !important;
}

.article {
    border: 1px solid #ffffff;
    border-radius: 20px 20px;
    padding: 10px;
    margin: auto;
    height: 372px;
    width: 80%;
    background-image: url(./images/bg2.jpg);
}

.art {
    display: inline-block;
    width: 33%;
    padding-top: 30px;
}

.labelTask {
    padding: 10px;
    margin: 15px;
    width: 100%;
    font-family: Calibri, Arial, sans-serif;
    font-size: 21px;
    font-weight: 600;
    color: #551a8b;

}

.date {
    padding: 2px;
    margin-left: 20px;
    width: 100%;
    font-family: Calibri, Arial, sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #551a8b;
}

.priority {
    padding: 5px;
    margin-left: 20px;
    width: 100%;
    font-family: Calibri, Arial, sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #551a8b;
}

.priority select {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size:16px;
    line-height:34px;
    width: 25%;
}




.task_desc {
    cursor: pointer;
    padding: 5px;
    margin-left: 20px;
    width: 100%;
    font-family: Calibri, Arial, sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #551a8b;
}

.strongTask {
    cursor: default;
    margin-left: 20px;
    width: 100%;
    font-family: Calibri, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #551a8b;
}

.title {
  text-align: center;
  font-family: Calibri, Arial, sans-serif;
  font-size: 27px;
  font-weight: 600;
  color: #4A3530;
}

.titleFilter p {
    visibility: hidden;
}

.filterForm {
    display: inline-block;
    width: 22%;
    padding: 10px;
    border-radius: 20px 20px;
    border: 1px solid #ffffff;
}

.filterForm input {
    height: 30px;
    width: 100%;
    border-radius: 3px;
    border: rgba(0, 0, 0, .3) 2px solid;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 17px;
    padding: 5px;
    margin-bottom: 15px;
}

.filterBtn {
    width: 100%;
    border: 1px solid #ffffff;
    border-radius: 10px 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px;
    background: #4dc1dc;
    color: #FFF;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
}


.sortButton {
    width: 15%;
    height: 40px;
    margin: 0 8% 0 5%;
    background: #4dc1dc;
    cursor:pointer;
    color: #FFFFFF;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-weight:500;
    font-size: 17px;
    border-radius: 20px 20px;
    border: 1px solid #ffffff;
    margin-bottom: 50px;
}

.addShow {
    margin: 0 0 0 31%;
    display: inline-block;
    width: 15%;
}

.filterResults {
  margin-top: 100px;
  margin-left: 73%;
  width: 20%;
}

.filterResults .article {
    height: 260px;
    background-image: url(./images/bg3.jpg);
}

.filterResults .article p {
    font-size: 18px;
    width: 90%;
}

.filterResults .article .labelTask {
    font-size: 18px;
}

.filterArticle {

}


@import url('./css/font-awesome.css');

/* GLOBALS */

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.form-1 {
  /* Size & position */
  width: 300px;
  margin: 60px auto 30px;
  padding: 10px;
  position: relative; /* For the submit button positioning */

  /* Styles */
  box-shadow:
          0 0 1px rgba(0, 0, 0, 0.3),
          0 3px 7px rgba(0, 0, 0, 0.3),
          inset 0 1px rgba(255,255,255,1),
          inset 0 -3px 2px rgba(0,0,0,0.25);
  border-radius: 5px;
  background: white; /* Fallback */
  background: -moz-linear-gradient(#eeefef, #ffffff 10%);
  background: -ms-linear-gradient(#eeefef, #ffffff 10%);
  background: -o-linear-gradient(#eeefef, #ffffff 10%);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#eeefef), color-stop(0.1, #ffffff));
  background: -webkit-linear-gradient(#eeefef, #ffffff 10%);
  background: linear-gradient(#eeefef, #ffffff 10%);
}

.form-1 .field {
  position: relative;
}

.form-1 .field i {

  left: 0px;
  top: 0px;
  position: absolute;
  height: 36px;
  width: 36px;


  border-right: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 1px 0 0 rgba(255, 255, 255, 0.7);


  color: #777777;
  text-align: center;
  line-height: 42px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  pointer-events: none;
}

.form-1 input[type=text],
.form-1 input[type=password] {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-shadow: 0 1px 0 rgba(255,255,255,0.8);
  /* Size and position */
  width: 100%;
  padding: 10px 18px 10px 45px;

  /* Styles */
  border: none; /* Remove the default border */
  box-shadow:
          inset 0 0 5px rgba(0,0,0,0.1),
          inset 0 3px 2px rgba(0,0,0,0.1);
  border-radius: 3px;
  background: #f9f9f9;
  color: #777;
  -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  -ms-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

.form-1 input[type=text] {
  margin-bottom: 10px;
}

.form-1 input[type=text]:hover ~ i,
.form-1 input[type=password]:hover ~ i {
  color: #52cfeb;
}

.form-1 input[type=text]:focus ~ i,
.form-1 input[type=password]:focus ~ i {
  color: #42A2BC;
}

.form-1 input[type=text]:focus,
.form-1 input[type=password]:focus,
.form-1 button[type=submit]:focus {
  outline: none;
}

.form-1 .submit {
  /* Size and position */
  width: 65px;
  height: 65px;
  position: absolute;
  top: 17px;
  right: -25px;
  padding: 10px;
  z-index: 2;
  background: #ffffff;
  border-radius: 50%;
  box-shadow:
          0 0 2px rgba(0,0,0,0.1),
          0 3px 2px rgba(0,0,0,0.1),
          inset 0 -3px 2px rgba(0,0,0,0.2);
}

.form-1 .submit:after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: -2px;
  left: 30px;


  background: #ffffff;

  box-shadow: 0 62px white, -32px 31px white;
}

.form-1 button {
  width: 100%;
  height: 100%;
  margin-top: -1px;

  /* Icon styles */
  font-size: 1.4em;
  line-height: 1.75;
  color: white;

  border: none;
  border-radius: inherit;
  background: #52cfeb; /* Fallback */
  background: linear-gradient(#52cfeb, #42A2BC);
  box-shadow:
          inset 0 1px 0 rgba(255,255,255,0.3),
          0 1px 2px rgba(0,0,0,0.35),
          inset 0 3px 2px rgba(255,255,255,0.2),
          inset 0 -3px 2px rgba(0,0,0,0.1);

  cursor: pointer;
}

.form-1 button:hover,
.form-1 button[type=submit]:focus {
  background: #52cfeb;
}

.form-1 button:active {
  background: #42A2BC;
  box-shadow:
          inset 0 0 5px rgba(0,0,0,0.3),
          inset 0 3px 4px rgba(0,0,0,0.3);
}

.auth {
  font-family: Calibri, Arial, sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #777;
}


.add_f{
  margin: auto;
  width:80%;
  padding:10px;
  border-radius:5px;
  background:RGBA(255,255,255,1);
  box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);
}

.textbox_name{
  height:30px;
  width:100%;
  border-radius:3px;
  border:rgba(0,0,0,.3) 2px solid;
  box-sizing:border-box;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  font-size:17px;
  padding:5px;
  margin-bottom:15px;

}
.textbox_desc:focus,
.textbox_name:focus{
  outline:none;
  border:rgba(24,149,215,1) 2px solid;
  color:rgba(24,149,215,1);
}

.textbox_desc{
  background: rgba(255, 255, 255, 0.4);
  width:100%;
  height: 80px;
  border:rgba(0,0,0,.3) 2px solid;
  box-sizing:border-box;
  -moz-border-radius: 3px;
  font-size:17px;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display:block;
  padding:5px;
  margin-bottom:10px;
  overflow:hidden;
}

.buttonAdd {
  margin-left: 9%;
  width:46%;
  border-radius:3px;
  border:rgba(0,0,0,.3) 0px solid;
  box-sizing:border-box;
  padding:5px;
  background:#4dc1dc;
  color:#FFF;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  transition:background .4s;
  cursor:pointer;
}

.buttonAdd:hover{
  background:#80b438;
}

.selectPriority {
  border:rgba(0,0,0,.3) 2px solid;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  font-size:16px;
  width:45%;
  cursor:pointer;
  border-radius:3px;
  box-sizing:border-box;
  background: url(/images/select_arrow.png) no-repeat right;
}

.selectPriority option {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  font-size:16px;
  line-height:34px;
}